/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: auto;
  overflow-y: auto;
}

body {
  background-color: #111111;
  color: #FFFFFF;
  overflow-x: hidden;
}
